h1, h2 {
    font-family: 'Lobster', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Silkscreen', sans-serif;
}

#wrongletters {
    font-size: 40px;
}

#word {
    display: flex;
    align-items: center;
}
#word > * {
    display: inline-block;
    border-bottom: .5rem solid black;
    width: 5rem;
    height: 5rem;
    margin: .5rem;
}

button {
    border-radius: 2rem;
}