h1 {
    font-family: 'Lobster', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Silkscreen', sans-serif;
}

word {
    display: inline-block;
}

#word > * {
    border-bottom: .5rem solid black;
    width: 5rem;
    height: 5rem;
}

button {
    border-radius: 2rem;
}